<section class=" mt-5 pb-5 p-2 bg-main-light">
  <div class="first-part px-2">
    <h4>Get the FreshCart app</h4>
    <p class="text-muted">We will send you a link, open it on your phone to download the app</p>
    <div class="form-section d-flex justify-content-between">
      <input type="text" class="form-control w-75 ms-5 text-muted" placeholder="Email.." >
      <button class="btn bg-main me-5 px-5 text-white" >share app link</button>
    </div>
  </div>
  <div class="line  mx-auto my-2 ">

  </div>
  <div class="last-part d-flex justify-content-between px-5">
    <div class="left-sec">
      <span>payment partners</span>
      <img src="./assets/amazonpay.png" alt="amazon" class="mx-3">
      <img src="./assets/mastercard.png" alt="mastercard" class="mx-3">
      <img src="./assets/paypal.png" alt="paypal" class="mx-3">
    </div>
    <div class="right-sec">
      <span>get delivers with FreshCard</span>
      <img src="./assets/app store.png" alt="app-store" class="mx-3">
      <img src="./assets/google play.png" alt="google-play" class="mx-3">

    </div>
  </div>
  <div class="line  mx-auto my-2 ">

  </div>
</section>
