<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand"><img src="./assets/logo.svg" alt="logo-img"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" *ngIf="isLogin">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="product" *ngIf="isLogin">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category" *ngIf="isLogin">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="brand" *ngIf="isLogin">Brands</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
        <li class="nav-item">
          <i class="fab fa-instagram mx-2"></i>
          <i class="fab fa-facebook mx-2"></i>
          <i class="fab fa-tiktok mx-2"></i>
          <i class="fab fa-twitter mx-2"></i>
          <i class="fab fa-linkedin mx-2"></i>
          <i class="fab fa-youtube mx-2"></i>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!isLogin">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" *ngIf="!isLogin">Register</a>
        </li>
        <li class="nav-item">
          <span class="nav-link cursor-pointer" (click)="logOut()"  *ngIf="isLogin">LogOut</span>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="cart" *ngIf="isLogin">
            <i class="fa-solid p-1 fa-cart-shopping text-main fs-5"></i>
            <span class="badge bg-main position-absolute top-0 end-0">{{numCartItems}}</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
