<div class="row gx-0 pt-3">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img height="400" class="w-100" src="./assets/slider-image-3.jpeg" alt="product-img"></ng-template>
      <ng-template carouselSlide><img height="400" class="w-100"  src="./assets/slider-image-2.jpeg" alt="product-img"></ng-template>
      <ng-template carouselSlide><img height="400" class="w-100"  src="./assets/slider-image-3.jpeg" alt="product-img"></ng-template>

    </owl-carousel-o>
  </div>
  <div class="col-md-3">
    <img height="200"  class="w-100"  src="./assets/side-img-1.jpg" alt="product-img">
    <img height="200"  class="w-100"  src="./assets/side-img-2.jpg" alt="product-img">
  </div>
</div>
